.about-us {
    display: flex;
    flex-direction: column;
    gap: 170px;
    align-items: center;
    width: 100%;
    height: calc(100vh - 96px);
    background: url(/images/desktop/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us__heading {
    text-align: center;
    padding-top: 50px;
    color: var(--white);
    font-family: var(--frauces);
    font-weight: var(--fw-900);
    font-size: 2.7rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

